[user]
    email = dava1000@student.miun.se
    name = Dan Lee Vazquez Garcia

[credential]
    helper = manager

[core]
    autocrlf = false
    fileMode = false
    editor = nvim

[merge]
    tool = nvimdiff

[mergetool "nvimdiff"]
    prompt = true
    keepBackup = false

[diff]
    tool = nvimdiff

[difftool "nvimdiff"]
    prompt = false

[push]
    default = simple

[pull]
    rebase = false

[web]
    browser = firefox

[color "branch"]
    current = magenta bold
    local = yellow bold
    remote = cyan bold

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "status"]
    branch = magenta bold
    added = green bold
    changed = yellow bold
    untracked = red bold
    unmerged = "#fe8019"
